.App {
  text-align: center;
}

* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;

}

header h1 {
  font-size: 54px;
  padding: 5vh 1rem 0 1rem;
  text-shadow: -3px 3px 3px #8FD694;
}

body {
  background-image: url("./images/bambooForest.png");
  background-position: cover;
  padding: 5vh 1rem 5vh 1rem;
}

button {
  box-shadow: 0 5px 10px #000000;
}

.col {
  padding: 5vh 0 2vh;
}

.input-group {
  padding: 1rem;
  display: flex;
}

.input-group-text {
  background: white;
  border: .2rem outset #8FD694;
  box-shadow: 0 5px 10px #000000;
}


.timer-toggle {
  color: white;
  text-shadow: -2px 2px 3px #8FD694;
}

.progress-bar {
  box-shadow: 2px 0 4px #000000;
}